/build/
/extern/
/backups/
/extern.cmake
/qpm_defines.cmake
/ndkpath.txt
/mod.schema.json
*.qmod
*.so
*.log
/src/vs_assets_data.cpp
/.vscode/
/.idea/
/unity/Library/
/unity/Temp/
/unity/Logs/
/unity/obj/
/unity/UserSettings/
/unity/.vs/
